@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    /* transition: all .3s linear; */

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {

    background: url(bg-pattern-desktop.svg) no-repeat center center /cover, linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    /* background: linear-gradient(135deg,); */


    width: 100vw;
    height: 100vh;
}

.logo {
    height: 5rem;
    min-width: 38rem;
    height: 5rem;
    width: 45rem;
    padding-top: 5rem;

}

.logo img {
    width: 15rem;


}

.heromobile {
    display: none;
}

.container {
    display: flex;
}

.left {
    width: 60vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;



}

.text-box {
    width: 45rem;
    min-width: 38rem;
    /* padding-bottom: 7em; */

}

.text-box h1 {

    color: black;
    letter-spacing: 1.5rem;
    line-height: 7rem;
    font-weight: 600;
    font-size: 6rem;
    padding-top: 12rem;
}

.text-box span {
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}

.text-box p {
    color: hsl(0, 36%, 70%);
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 5rem;



}

.email {
    position: relative;

}

.email input {
    width: 100%;
    border-radius: 5.5rem;
    height: 5.5rem;
    padding: 1rem 2rem;
    border: .1rem solid hsl(0, 30%, 78%);
    background: transparent;
    font-weight: 300;
    color: hsl(0, 36%, 70%);
    font-size: 1.8rem;
    outline: none;
}

.email button {

    width: 12rem;
    border-radius: 5.5rem;
    height: 5.5rem;
    padding: 1rem 2rem;
    border: .1rem solid hsl(0, 30%, 78%);
    /* background: linear-gradient( 135deg, hsl(0, 36%, 70%),hsl(0, 93%, 68%)) ; */
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    font-weight: 300;
    color: hsl(0, 36%, 70%);
    font-size: 1.6rem;
}

.email button {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
}

.email button i {
    color: white;
    font-size: 3rem;
    text-align: center;
    margin: auto;


}

.hero-section {
    width: 40vw;

}

.hero-section img {
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

@media(max-width:850px) {
    html {
        font-size: 55%;
    }

    body {
        height: 100%;
    }

    .logo {
        /* padding-top: 7rem; */
    }

    .left {
        width: 100vw;
        /* padding: 7em 15em; */

    }

    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-section {
        width: 100vw;
        text-align: center;
    }

    .hero-section img {
        height: auto;
        width: 100%;
    }
}


@media (max-width: 450px) {

    html {
        font-size: 50%;

    }

    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .heromobile {
        display: block;
        padding-top: 7rem;

    }

    .heromobile img {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

    }

    .hero-section {
        display: none;
    }

    .text-box {
        text-align: center;
        padding-bottom: 5rem;
    }


}

@media(max-width:380px) {
    html {
        font-size: 40%;
    }

    .logo,
    .text-box {
        padding-left: 3.5rem;
    }
}